body {
    background-color: antiquewhite;
}

#tarolo {
    background-color: cyan;
    color: black;
    width: 80%;
    max-width: 800px;
    margin:auto;
    padding: 10px;  
}
#menu a{
    text-decoration: none;
    color: red;
    background-color: black;
    border: 2px solid red;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
}
#menu a:hover{
    color:yellow ;
    background-color: orange;
}
h2 {text-decoration: double;
text-transform: capitalize;}